.container
  = form_for :channel, url: clone_channel_path(@channel) do |f|
    = validation_for 'form-group', :password, params[f.object_name.to_sym], @errors do
      = f.label :password, 'Password', {class: 'form-control-label'}
      = f.password_field :password, class: form_control_for(:password, params[f.object_name.to_sym], @errors), value: value_for(:password, f)
      
    = validation_for 'form-group', :password_confirmation, params[f.object_name.to_sym], @errors do
      = f.label :password_confirmation, 'Password confirmation', {class: 'form-control-label'}
      = f.password_field :password_confirmation, class: form_control_for(:password_confirmation, params[f.object_name.to_sym], @errors), value: value_for(:password_confirmation, f)

    = f.submit 'Clone', class: 'btn btn-primary form-control'
