!!! XML
%rss{version: '2.0'}
  %channel
    %title= "synfeed"
    %link= request.original_url

    - @channel.news.each do |update|
      %item
        %title= update[:title]
        %link= update[:link]
        %author= update[:author][:title]
        %guid= update[:id]
        %pubDate= update[:published_at]
