.container-fluid
  .row
    .col-2
      .mb-1
        %h6
          Subscriptions

          - if channel_unlocked? @channel
            .float-right
              %a{href: new_channel_subscription_path(@channel)}
                %i.icon.ion-plus
        %ul
          - @channel.subscriptions.map {|x| {object: x.feed, atom: x.feed.to_atom}}.each do |feed|
            %li
              %a.abbreviate-text{href: feed[:atom].link, target: '_blank'}
                = feed[:atom].title

              - if channel_unlocked? @channel
                .float-right
                  = link_to channel_subscription_path(@channel, feed[:object]), method: :patch do
                    %i.icon.ion-refresh.hidden-icon
                  = link_to channel_subscription_path(@channel, feed[:object]), method: :delete do
                    %i.icon.ion-trash-b.hidden-icon

      %h6
        Channel

        - if channel_locked? @channel
          .float-right
            %a{href: unlock_channel_path(@channel)}
              %i.icon.ion-locked

      %ul
        %li
          = link_to 'Clone', clone_channel_path(@channel), method: :post
        -#%li
          = 'Settings'

    .col-10
      .row
        .col-12
          %h5
            Updates
            
            .float-right.text-right
              = link_to channel_path(@channel, format: :rss) do
                %i.icon.ion-social-rss
          
          .tilemap
            -#Channel.first.feeds.map {|x| x.youtube_videos.to_a}.flatten
            
            - @channel.feeds.map {|x| x.youtube_videos.to_a.map {|x| x.to_atom}}.flatten.each_slice(6) do |slice|
              .card-deck.ml-0.mr-0
                - slice.each do |update|
                  .card.tile
                    %img.card-img-top.img-responsive{src: update.optional[:thumbnail], alt: 'thumbnail'}
                      
                    .card-body
                      %p.card-text.abbreviate-text
                        %a{href: update.link, target: '_blank'}
                          = update.title

                    -#.card-footer
                      .float-left.text-left
                        %small
                          %a{target: '_blank', href: update[:link]}
                            = 'test'

                      .float-right.text-right
                        %small.text-muted.abbreviate-text
                          = "#{time_ago_in_words(update[:published_at])} ago"
                          
                - (6 - slice.size).times do
                  .card.tile.invisible
