.container
  = form_for :subscription, url: channel_subscriptions_path(@channel) do |f|
    = validation_for 'form-group', :name, params[f.object_name.to_sym], @errors do
      = f.label :name, 'Name', {class: 'form-control-label'}
      = f.text_field :name, class: form_control_for(:name, params[f.object_name.to_sym], @errors), value: value_for(:name, f)

    .row
      .col-10
        = f.submit 'Add', class: 'btn btn-primary form-control'
      .col-2
        = link_to 'Back', channel_path(@channel), class: 'btn form-control'
