@import "reset.scss";
@import "bootstrap";
@import "ionicons";

.tile
{
    margin: 5px 5px 5px 5px !important;
}

.abbreviate-text
{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.hidden-icon
{
    display: none;
}

li:hover .hidden-icon
{
    display: inline;
}
