!!! 5
%html
  %head
    %title synfeed
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    .container
      %nav.navbar
        %a.navbar-brand{href: '#'}
          synfeed

        .nav
          = link_to 'Home', home_path, 'class': 'nav-link'
          = link_to 'Start', new_channel_path, 'class': 'nav-link'
            
    = yield
